.navigation-bar {
  .hamburger {
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;

    block-size: 2.25rem;
    inline-size: 2.25rem;

    padding: 0.25rem;

    border: none;

    outline: none;

    cursor: pointer;

    svg {
      block-size: 1.25rem;
      inline-size: 1.25rem;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .nav,
  .vertical-nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;

      block-size: 100%;
      min-inline-size: 50vw;

      li {
        list-style: none;

        padding-block: 0.25rem;
        padding-inline: 0.5rem;

        border-radius: 0.5rem;

        a {
          color: var(--palette-grey-800);

          display: flex;
          align-items: center;
          gap: 0.25rem;

          text-decoration: none;

          span {
            display: flex;
            flex-direction: column;

            font-family: Inter, serif;
            font-size: 14px;
            font-weight: 600;

            span:nth-child(2) {
              color: var(--palette-grey-400);

              font-size: 12px;
            }
          }

          svg {
            block-size: 1.5rem;
            inline-size: 1.5rem;
          }
        }
      }
    }
  }

  .vertical-nav {
    max-inline-size: 10rem;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      min-block-size: 15rem;
      min-inline-size: 20vw;

      padding-inline: 0.5rem;
    }
  }
}
