:root {
  --progress-value: 0;
}

.linear-progress {
  inline-size: 100%;
  border-radius: 0.75rem;
}

.progress-line {
  position: relative;
  overflow: hidden;
  display: block;
  block-size: 0.25rem;
  background: var(--palette-grey-400);
  z-index: 0;
  border-radius: 0.25rem;
  margin-bottom: calc(2 * 0.5rem);
  inline-size: 100%;
}

.first-span {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  transition: transform 0.2s linear;
  transform-origin: left center;
  inline-size: auto;
  animation: 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal
    none running animation-ozg7p2;
  border-radius: inherit;
}

.second-span {
  position: absolute;
  inset-block: 0;
  /*inset-inline-start: 0;*/
  transition: transform 0.2s linear;
  transform-origin: left center;
  inline-size: auto;
  animation: 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.8s infinite normal none
    running animation-19gglwu;
  border-radius: inherit;
}

.inner-span {
  inline-size: 100%;
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  transform-origin: left center;
  transition: transform 0.4s linear;
  border-radius: inherit;

  &.primary {
    background-color: var(--palette-primary-main);
  }

  &.secondary {
    background-color: var(--palette-secondary-main);
  }

  &.info {
    background-color: var(--palette-info-main);
  }

  &.success {
    background-color: var(--palette-success-main);
  }

  &.danger {
    background-color: var(--palette-primary-main);
  }

  &.warning {
    background-color: var(--palette-warning-main);
  }

  &.error {
    background-color: var(--palette-error-main);
  }
}

@keyframes animation-ozg7p2 {
  0% {
    inset-inline-start: -35%;
    inset-inline-end: 100%;
  }
  60% {
    inset-inline-start: 100%;
    inset-inline-end: -90%;
  }
  100% {
    inset-inline-start: 100%;
    inset-inline-end: -90%;
  }
}

@keyframes animation-19gglwu {
  0% {
    inset-inline-start: -200%;
    inset-inline-end: 100%;
  }
  60% {
    inset-inline-start: 107%;
    inset-inline-end: -8%;
  }
  100% {
    inset-inline-start: 107%;
    inset-inline-end: -8%;
  }
}
