.linear-progress {
  --progress-value: 0%;
  inline-size: 100%;

  border-radius: 0.75rem;

  &.primary {
    color: var(--palette-primary-main);
  }

  &.secondary {
    color: var(--palette-secondary-main);
  }

  &.info {
    color: var(--palette-info-main);
  }

  &.success {
    color: var(--palette-success-main);
  }

  &.warning {
    color: var(--palette-warning-main);
  }

  &.error {
    color: var(--palette-error-main);
  }

  .determinate-progress-line {
    background: var(--palette-grey-400);

    position: relative;
    overflow: hidden;
    z-index: 0;

    display: block;

    block-size: 0.25rem;
    inline-size: 100%;

    margin-bottom: calc(2 * 0.5rem);

    border-radius: 0.25rem;

    .filled {
      background-color: currentcolor;

      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;

      inline-size: 100%;

      border-radius: inherit;

      transform: translateX(var(--progress-value));
      transform-origin: left center;

      transition: transform 0.4s linear;
    }
  }

  .indeterminate-progress-line {
    background: var(--palette-grey-400);
    color: currentcolor;

    position: relative;
    overflow: hidden;
    z-index: 0;

    display: block;

    block-size: 0.25rem;
    inline-size: 100%;

    margin-bottom: calc(2 * 0.5rem);

    border-radius: 0.25rem;

    &::before {
      content: "";

      background-color: currentcolor;

      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;

      inline-size: auto;

      border-radius: inherit;

      transform-origin: left center;

      transition: transform 0.2s linear;

      animation: 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal
        none running animation-before;
    }

    &::after {
      content: "";

      background-color: currentcolor;

      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;

      inline-size: auto;

      border-radius: inherit;

      transform-origin: left center;

      transition: transform 0.2s linear;

      animation: 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s infinite normal
        none running animation-after;
    }
  }
}

@keyframes animation-before {
  0% {
    inset-inline-start: -35%;
    inset-inline-end: 100%;
  }

  60% {
    inset-inline-start: 100%;
    inset-inline-end: -90%;
  }

  100% {
    inset-inline-start: 100%;
    inset-inline-end: -90%;
  }
}

@keyframes animation-after {
  0% {
    inset-inline-start: -200%;
    inset-inline-end: 100%;
  }

  60% {
    inset-inline-start: 107%;
    inset-inline-end: -8%;
  }

  100% {
    inset-inline-start: 107%;
    inset-inline-end: -8%;
  }
}
