a.button {
  color: inherit;

  text-decoration: none;
}

.button {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: var(--border-radius-1);

  font-weight: 700;

  line-height: 1.71;
  vertical-align: middle;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, border-color;

  cursor: pointer;

  &.contained {
    color: var(--palette-common-white);
    box-shadow: none;

    padding: 0.375rem 0.75rem;

    border: none;

    &.inherit {
      background-color: var(--palette-grey-800);

      &:hover {
        background-color: var(--palette-grey-700);
        box-shadow: var(--shadows-z8);
      }
    }

    &.primary {
      background-color: var(--palette-primary-main);

      &:hover {
        background-color: var(--palette-primary-dark);
        box-shadow: var(--shadows-primary);
      }
    }

    &.secondary {
      background-color: var(--palette-secondary-main);

      &:hover {
        background-color: var(--palette-secondary-main);
        box-shadow: var(--shadows-secondary);
      }
    }

    &.info {
      background-color: var(--palette-info-main);

      &:hover {
        background-color: var(--palette-info-dark);
        box-shadow: var(--shadows-info);
      }
    }

    &.success {
      background-color: var(--palette-success-main);

      &:hover {
        background-color: var(--palette-success-dark);
        box-shadow: var(--shadows-success);
      }
    }

    &.warning {
      background-color: var(--palette-warning-main);
      color: var(--palette-grey-800);

      &:hover {
        background-color: var(--palette-warning-dark);
        box-shadow: var(--shadows-warning);
      }
    }

    &.error {
      background-color: var(--palette-error-main);

      &:hover {
        background-color: var(--palette-error-dark);
        box-shadow: var(--shadows-error);
      }
    }

    &[disabled] {
      background-color: hsl(from var(--palette-grey-500) h s l / 24%);
      color: var(--palette-text-disabled);
      box-shadow: none;
      opacity: 0.6;

      transition: none;

      cursor: default;
      pointer-events: none;
    }
  }

  &.outlined {
    background-color: inherit;

    &.inherit {
      color: var(--palette-grey-800);

      border: 1px solid var(--palette-grey-800);

      &:hover {
        background-color: hsl(
          from var(--palette-grey-600) h s l /
            var(--palette-action-hover-opacity)
        );
        box-shadow: 0 0 0 1px currentcolor;

        border-color: currentcolor;
      }
    }

    &.primary {
      color: var(--palette-primary-main);

      border: 1px solid var(--palette-primary-main);

      &:hover {
        background-color: hsl(
          from var(--palette-primary-main) h s l /
            var(--palette-action-hover-opacity)
        );
        box-shadow: 0 0 0 1px currentcolor;

        border-color: currentcolor;
      }
    }

    &.secondary {
      color: var(--palette-secondary-main);

      border: 1px solid var(--palette-secondary-main);

      &:hover {
        background-color: hsl(
          from var(--palette-secondary-main) h s l /
            var(--palette-action-hover-opacity)
        );
        box-shadow: 0 0 0 1px currentcolor;

        border-color: currentcolor;
      }
    }

    &.info {
      color: var(--palette-info-main);

      border: 1px solid var(--palette-info-main);

      &:hover {
        background-color: hsl(
          from var(--palette-info-main) h s l /
            var(--palette-action-hover-opacity)
        );
        box-shadow: 0 0 0 1px currentcolor;

        border-color: currentcolor;
      }
    }

    &.success {
      color: var(--palette-success-main);

      border: 1px solid var(--palette-success-main);

      &:hover {
        background-color: hsl(
          from var(--palette-success-main) h s l /
            var(--palette-action-hover-opacity)
        );
        box-shadow: 0 0 0 1px currentcolor;

        border-color: currentcolor;
      }
    }

    &.warning {
      color: var(--palette-warning-main);

      border: 1px solid var(--palette-warning-main);

      &:hover {
        background-color: hsl(
          from var(--palette-warning-main) h s l /
            var(--palette-action-hover-opacity)
        );
        box-shadow: 0 0 0 1px currentcolor;

        border-color: currentcolor;
      }
    }

    &.error {
      color: var(--palette-error-main);

      border: 1px solid var(--palette-error-main);

      &:hover {
        background-color: hsl(
          from var(--palette-error-main) h s l /
            var(--palette-action-hover-opacity)
        );
        box-shadow: 0 0 0 1px currentcolor;

        border-color: currentcolor;
      }
    }

    &[disabled] {
      color: var(--palette-text-disabled);
      box-shadow: none;
      opacity: 0.6;

      border: 1px solid hsl(from var(--palette-grey-500) h s l / 24%);

      transition: none;

      cursor: default;
      pointer-events: none;
    }
  }

  &.text {
    background-color: var(--palette-common-white);

    &.inherit {
      color: var(--palette-grey-800);

      &:hover {
        background-color: hsl(
          from var(--palette-grey-600) h s l /
            var(--palette-action-hover-opacity)
        );
      }
    }

    &.primary {
      color: var(--palette-primary-main);

      &:hover {
        background-color: hsl(
          from var(--palette-primary-main) h s l /
            var(--palette-action-hover-opacity)
        );
      }
    }

    &.secondary {
      color: var(--palette-secondary-main);

      &:hover {
        background-color: hsl(
          from var(--palette-secondary-main) h s l /
            var(--palette-action-hover-opacity)
        );
      }
    }

    &.info {
      color: var(--palette-info-main);

      &:hover {
        background-color: hsl(
          from var(--palette-info-main) h s l /
            var(--palette-action-hover-opacity)
        );
      }
    }

    &.success {
      color: var(--palette-success-main);

      &:hover {
        background-color: hsl(
          from var(--palette-success-main) h s l /
            var(--palette-action-hover-opacity)
        );
      }
    }

    &.warning {
      color: var(--palette-warning-main);

      &:hover {
        background-color: hsl(
          from var(--palette-warning-main) h s l /
            var(--palette-action-hover-opacity)
        );
      }
    }

    &.error {
      color: var(--palette-error-main);

      &:hover {
        background-color: hsl(
          from var(--palette-error-main) h s l /
            var(--palette-action-hover-opacity)
        );
      }
    }

    &[disabled] {
      color: var(--palette-text-disabled);
      box-shadow: none;
      opacity: 0.6;

      transition: none;

      cursor: default;
      pointer-events: none;
    }
  }

  &.small {
    block-size: 1.875rem;

    padding: 0.25rem 0.5rem;

    font-size: 0.8125rem;
  }

  &.medium {
    padding: 0.375rem 0.75rem;

    font-size: 0.875rem;
  }

  &.large {
    block-size: 3rem;

    padding: 0.5rem 1rem;

    font-size: 0.9375rem;
  }
}

/* icon component */
.start-icon {
  color: inherit;

  display: inherit;

  margin-right: 0.5rem;
  margin-left: -0.25rem;

  font-size: 1.25rem;
}

.end-icon {
  color: inherit;

  display: inherit;

  margin-right: -0.25rem;
  margin-left: 0.5rem;

  font-size: 1.25rem;
}
