.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;
  vertical-align: middle;

  min-inline-size: 4rem;
  line-height: 1.71;

  font-weight: 700;

  cursor: pointer;

  border: none;
  border-radius: var(--button--border-radius);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.contained {
    color: var(--white-color);
    border: none;
    box-shadow: none;
    padding: 0.375rem 0.75rem;

    &.inherit {
      background-color: var(--palette-grey-800);

      &:hover {
        background-color: var(--palette-grey-700);
        box-shadow: var(--shadows-inherit);
      }
    }

    &.primary {
      background-color: var(--palette-primary-main);

      &:hover {
        background-color: var(--palette-primary-dark);
        box-shadow: var(--shadows-primary);
      }
    }

    &.info {
      background-color: var(--palette-info-main);

      &:hover {
        background-color: var(--palette-info-dark);
        box-shadow: var(--shadows-info);
      }
    }

    &.success {
      background-color: var(--palette-success-main);

      &:hover {
        background-color: var(--palette-success-dark);
        box-shadow: var(--shadows-success);
      }
    }

    &.warning {
      background-color: var(--palette-warning-main);
      color: var(--palette-grey-800);

      &:hover {
        background-color: var(--palette-warning-dark);
        box-shadow: var(--shadows-warning);
      }
    }

    &.error {
      background-color: var(--palette-error-main);

      &:hover {
        background-color: var(--palette-error-dark);
        box-shadow: var(--shadows-error);
      }
    }

    &.disabled {
      color: var(--palette-text-disabled);
      transition: none;
      background-color: var(--bg-disabled);
      box-shadow: none;

      cursor: default;
      opacity: 0.6;
    }
  }

  &.outlined {
    background-color: inherit;

    &.inherit {
      color: var(--palette-grey-800);
      border: 1px solid var(--palette-grey-800);

      &:hover {
        background-color: var(--bg-inherit);
        border-color: currentColor;
        box-shadow: 0 0 0 1px currentcolor;
      }
    }

    &.primary {
      color: var(--palette-primary-main);
      border: 1px solid var(--palette-primary-main);

      &:hover {
        background-color: var(--bg-primary);
        border-color: currentColor;
        box-shadow: 0 0 0 1px currentcolor;
      }
    }

    &.info {
      color: var(--palette-info-main);
      border: 1px solid var(--palette-info-main);

      &:hover {
        background-color: var(--bg-info);
        border-color: currentColor;
        box-shadow: 0 0 0 1px currentcolor;
      }
    }

    &.success {
      color: var(--palette-success-main);
      border: 1px solid var(--palette-success-main);

      &:hover {
        background-color: var(--bg-success);
        border-color: currentColor;
        box-shadow: 0 0 0 1px currentcolor;
      }
    }

    &.warning {
      color: var(--palette-warning-main);
      border: 1px solid var(--palette-warning-main);

      &:hover {
        background-color: var(--bg-warning);
        border-color: currentColor;
        box-shadow: 0 0 0 1px currentcolor;
      }
    }

    &.error {
      color: var(--palette-error-main);
      border: 1px solid var(--palette-error-main);

      &:hover {
        background-color: var(--bg-error);
        border-color: currentColor;
        box-shadow: 0 0 0 1px currentcolor;
      }
    }

    &.disabled {
      color: var(--palette-text-disabled);
      border: 1px solid var(--bg-disabled);

      transition: none;
      box-shadow: none;

      cursor: default;
      opacity: 0.6;
    }
  }

  &.text {
    background-color: var(--white-color);

    &.inherit {
      color: var(--palette-grey-800);

      &:hover {
        background-color: var(--bg-inherit);
      }
    }

    &.primary {
      color: var(--palette-primary-main);

      &:hover {
        background-color: var(--bg-primary);
      }
    }

    &.info {
      color: var(--palette-info-main);

      &:hover {
        background-color: var(--bg-info);
      }
    }

    &.success {
      color: var(--palette-success-main);

      &:hover {
        background-color: var(--bg-success);
      }
    }

    &.warning {
      color: var(--palette-warning-main);

      &:hover {
        background-color: var(--bg-warning);
      }
    }

    &.error {
      color: var(--palette-error-main);

      &:hover {
        background-color: var(--bg-error);
      }
    }

    &.disabled {
      color: var(--palette-text-disabled);

      transition: none;
      box-shadow: none;

      cursor: default;
      opacity: 0.6;
    }
  }

  &.small {
    font-size: 0.8125rem;
    block-size: 1.875rem;
    padding: 0.25rem 0.5rem;
  }
  &.medium {
    font-size: 0.875rem;
    padding: 0.375rem 0.75rem;
  }
  &.large {
    font-size: 0.9375rem;
    block-size: 3rem;
    padding: 0.5rem 1rem;
  }
}

/* icon component */
.start-icon {
  display: inherit;
  margin-right: 0.5rem;
  margin-left: -0.25rem;
  color: inherit;

  &.icon {
    font-size: 1.25rem;
    inline-size: 1.25rem;
    flex-shrink: 0;
    block-size: 1.25rem;
    display: inline-flex;
  }
}

.end-icon {
  display: inherit;
  margin-right: -0.25rem;
  margin-left: 0.5rem;
  color: inherit;

  &.icon {
    font-size: 1.25rem;
    inline-size: 1.25rem;
    flex-shrink: 0;
    block-size: 1.25rem;
    display: inline-flex;
  }
}