.file-explorer-row {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: subgrid;
  align-items: center;

  padding: 0.375rem 1rem;

  border: 1px solid var(--palette-grey-300);
  border-radius: var(--border-radius-3);

  .cell {
    &.title {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &.datetime {
      display: grid;
      gap: 0.25rem;
    }
  }

  &:hover {
    background-color: var(--palette-common-white);
    box-shadow: var(--shadows-z20);

    transition:
      background-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
