.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-block-start: 4.7rem;

  text-align: center;
  line-height: 1.2;

  &::before {
    content: "";

    background-color: var(--palette-common-white);
    background-image:
      linear-gradient(to right, hsl(0deg 0% 0% / 40%) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(0deg 0% 0% / 40%) 1px, transparent 1px);
    background-size: 54px 54px;
    opacity: 0.1;

    position: absolute;
    inset: 0;
    z-index: -1;

    width: 40%;
    height: 50%;

    margin: 15rem auto;
  }

  > :nth-child(1) {
    opacity: 0.24;
  }

  > :nth-child(3) {
    color: var(--palette-common-black);

    font-size: 1.25rem;
  }

  .title {
    font-family: var(--font-barlow);
    font-size: 4.5rem;

    @media (width >= 600px) {
      font-size: 3.25rem;
    }

    @media (width >= 900px) {
      font-size: 3.625rem;
    }

    @media (width >= 1200px) {
      font-size: 4.5rem;
    }
  }

  .caption {
    margin-top: 1.25rem;

    font-size: 1.35rem;

    line-height: 36px;
  }

  .label {
    background: linear-gradient(
      to right,
      hsl(123deg 39% 49%),
      hsl(33deg 100% 61%)
    );

    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 10% 0%;
    background-size: 200% 200%;

    -webkit-text-fill-color: transparent;

    animation: gradient-animation 3s ease-in-out infinite;
  }

  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    margin: 1.8rem 0;

    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-block: 0.7rem;

      > :not(:first-child) {
        z-index: 1;

        margin-inline-start: -7px;
      }

      > :nth-child(1) {
        z-index: 3;
      }

      > :nth-child(2) {
        z-index: 2;
      }

      > :nth-child(3) {
        z-index: 1;
      }
    }

    .avatar-text {
      color: var(--palette-grey-900);

      font-size: 0.95rem;
    }
  }

  .btn-container {
    display: flex;
    gap: 0.9rem;

    .icon {
      margin-inline-end: 0.1rem;

      font-size: 1.5rem;
    }

    .btn-font {
      font-size: 0.9375rem;
    }

    .preview {
      height: 3rem;

      padding: 6px 20px;

      line-height: 0.5rem;
    }

    .figma {
      background-color: var(--palette-common-white);
      color: var(--palette-common-black);

      padding: 0 24px;

      border: 1px solid var(--palette-common-black);
    }

    .figma:hover {
      background: var(--palette-grey-300);

      border: 2px solid var(--palette-common-black);
    }

    .version {
      font-size: 0.7rem;

      text-align: left;
    }
  }

  .button {
    display: flex;
    align-items: center;

    margin-inline-end: 0.5rem;
    padding: 0.5rem;

    border-radius: 0.5rem;

    cursor: pointer;
  }

  .link {
    width: 100%;
    max-width: 300px;

    margin-block-start: 1.3rem;
    margin-inline-start: 0;

    text-align: left;

    a {
      color: inherit;

      display: inline-flex;
      align-items: center;
      gap: 0.25rem;

      font-size: 1rem;
    }
  }

  .available {
    margin-block-start: 2.5rem;
  }

  .logo {
    display: flex;
    gap: 1.5rem;

    margin-block-start: 2rem;
  }
}

.circle {
  background: radial-gradient(
    circle at 30% 30%,
    hsl(15deg 100% 70%),
    hsl(4deg 90% 58%)
  );
  box-shadow:
    0 4px 12px hsl(0deg 0% 0% / 15%),
    inset 5px -2px 4px hsl(0deg 0% 100% / 3%),
    inset 2px 2px 6px hsl(0deg 60% 37% / 5%);

  display: inline-block;

  width: 12px;
  height: 12px;

  border-radius: 50%;

  animation: slide-x 2s infinite alternate ease-in-out;
}

.circle1 {
  background: radial-gradient(
    circle at 30% 30%,
    hsl(12deg 72% 70%),
    hsl(32deg 83% 59%)
  );
  box-shadow: 0 4px 10px hsl(51deg 97% 60% / 40%);

  position: absolute;
  top: 14%;
  left: 20%;
}

.circle2 {
  background: radial-gradient(
    circle at 30% 30%,
    hsl(55deg 100% 68%),
    hsl(48deg 96% 56%)
  );

  position: absolute;
  top: 57%;
  left: 27%;
}

.circle3 {
  background: linear-gradient(145deg, hsl(186deg 96% 61%), hsl(195deg 59% 64%));
  box-shadow: 0 4px 10px hsl(51deg 97% 60% / 40%);

  position: absolute;
  top: 70%;
  right: 25%;
}

.circle4 {
  background: radial-gradient(
    circle at 30% 30%,
    hsl(287deg 45% 60%),
    hsl(287deg 65% 41%)
  );
  box-shadow: 0 4px 10px hsl(51deg 97% 60% /40%);

  position: absolute;
  top: 29%;
  right: 20%;
}

@keyframes gradient-animation {
  0% {
    background-position: 10% 0%;
  }

  50% {
    background-position: 91% 100%;
  }

  100% {
    background-position: 10% 0%;
  }
}

@keyframes slide-x {
  0% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(5px);
  }
}
