.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1.5rem;
  text-align: center;

  .title {
    background: -webkit-linear-gradient(
      var(--palette-primary-lighter),
      var(--palette-primary-light),
      var(--palette-secondary-main),
      var(--palette-secondary-dark)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}