.pipeline-page {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "sidebar main";
  grid-template-columns: 12.5rem 1fr;
  grid-template-rows: 4rem 1fr;

  block-size: 100vh;
  inline-size: 100vw;

  nav {
    grid-area: navbar;

    background-color: hsl(328deg 100% 54%);
    color: hsl(0deg 0% 100%);

    display: flex;
    align-items: center;

    padding: 0 1rem;
  }

  .sidebar {
    grid-area: sidebar;

    background-color: hsl(120deg 100% 25%);
    color: hsl(0deg 0% 100%);

    position: relative;

    padding: 1rem;

    /* inline-size: 20rem; */

    transition: transform 0.3s ease-in-out;

    &.closed {
      transform: translateX(-100%);
    }

    button {
      background-color: hsl(120deg 100% 25%);
      color: hsl(0deg 0% 100%);

      position: absolute;
      inset-block-start: 50%;
      inset-inline-end: 0;

      border: none;

      transform: translate(100%, -50%);
    }
  }

  main {
    grid-area: main;

    background-color: hsl(192deg 15% 94%);

    padding: 1rem;
  }
}
