.avatar {
  size: var(--size, var(--avatar-size-lg));
  border-radius: var(--radius, var(--avatar-radius-full));
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.avatar--image {
  background-image: var(--image-url);
  background-size: cover;
  background-position: center;
}
.avatar-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--palette-grey-100);
  padding: 1rem;
  border-radius: 0.75rem;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--palette-grey-100);

  width: 100%;
}

.card {
  background-color: var(--palette-grey-300);
  width: 75%;
  height: 16rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.75rem;
  margin-top: 2.5rem;
}

.title {
  color: var(--palette-grey-800);
  font-family: "Yekan", sans-serif;
  font-size: 1.25rem;
  padding: 1.25rem;
}

.inner_card {
  background-color: var(--palette-grey-50);
  height: 10rem;
  width: 75%;
  border-radius: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.green-700 {
  background-color: var(--palette-success-dark);
}
.teal-500 {
  background-color: var(--palette-info-light);
}
.green-400 {
  background-color: var(--palette-success-light);
}
.orange-500 {
  background-color: var(--palette-error-main);
}
.grey-800 {
  background-color: var(--palette-grey-800);
}
.grey-100 {
  background-color: var(--palette-grey-300);
}
