:root {
  --palette-primary-lighter: hsl(192deg 96% 90%);
  --palette-primary-light: hsl(198deg 92% 69%);
  --palette-primary-main: hsl(211deg 100% 50%);
  --palette-primary-dark: hsl(212deg 97% 34%);
  --palette-primary-darker: hsl(219deg 98% 23%);

  --palette-secondary-lighter: hsl(277deg 100% 92%);
  --palette-secondary-light: hsl(272deg 100% 76%);
  --palette-secondary-main: hsl(267deg 100% 60%);
  --palette-secondary-dark: hsl(261deg 76% 41%);
  --palette-secondary-darker: hsl(256deg 86% 26%);

  --palette-info-lighter: hsl(171deg 93% 89%);
  --palette-info-light: hsl(180deg 86% 67%);
  --palette-info-main: hsl(189deg 100% 43%);
  --palette-info-dark: hsl(198deg 100% 31%);
  --palette-info-darker: hsl(208deg 100% 20%);

  --palette-success-lighter: hsl(119deg 88% 91%);
  --palette-success-light: hsl(130deg 77% 70%);
  --palette-success-main: hsl(142deg 71% 45%);
  --palette-success-dark: hsl(154deg 78% 31%);
  --palette-success-darker: hsl(166deg 88% 20%);

  --palette-warning-lighter: hsl(48deg 100% 90%);
  --palette-warning-light: hsl(44deg 100% 70%);
  --palette-warning-main: hsl(40deg 100% 50%);
  --palette-warning-dark: hsl(36deg 100% 36%);
  --palette-warning-darker: hsl(32deg 100% 24%);

  --palette-error-lighter: hsl(29deg 100% 92%);
  --palette-error-light: hsl(20deg 100% 75%);
  --palette-error-main: hsl(11deg 100% 59%);
  --palette-error-dark: hsl(2deg 77% 41%);
  --palette-error-darker: hsl(353deg 86% 26%);

  --palette-grey-50: hsl(180deg 20% 99%);
  --palette-grey-100: hsl(210deg 20% 98%);
  --palette-grey-200: hsl(210deg 22% 96%);
  --palette-grey-300: hsl(213deg 16% 89%);
  --palette-grey-400: hsl(208deg 17% 80%);
  --palette-grey-500: hsl(210deg 13% 62%);
  --palette-grey-600: hsl(208deg 13% 45%);
  --palette-grey-700: hsl(213deg 14% 31%);
  --palette-grey-800: hsl(210deg 24% 15%);
  --palette-grey-900: hsl(212deg 25% 10%);

  --palette-common-black: hsl(0deg 0% 0%);
  --palette-common-white: hsl(0deg 0% 100%);

  --palette-text-primary: hsl(210deg 24% 15%);
  --palette-text-secondary: hsl(210deg 13% 44%);
  --palette-text-disabled: hsl(210deg 14% 62%);

  --shape-border-radius: 0.5rem;
}
