:root {
  --palette-action-hover-opacity: 0.08;
  --palette-action-disabled-opacity: 0.48;
  --palette-action-selected-opacity: 0.08;
  --palette-action-focus-opacity: 0.12;
  --palette-action-activated-opacity: 0.12;
}
