.progress {
  width: 100%;
  border-radius: 12px;
}

.progress span {
  display: inline-block;
  animation: 1.4s linear 0s infinite normal none running animation-61bdi0;

  width: 2.5rem;
  height: 2.5rem;
}

.progress span svg {
  display: block;

  overflow-clip-margin: content-box;
  overflow: hidden;
}

.progress span svg circle {
  stroke: currentcolor;
  animation: 1.4s ease-in-out 0s infinite normal none running animation-1o38n3e;
}

@keyframes animation-61bdi0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animation-1o38n3e {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: -126px;
  }
}
