:root {
  --size: 2.5rem;
  --filled-circle: 0px;
}

.progress {
  inline-size: 100%;
  border-radius: 0.75rem;

  &.primary {
    color: var(--palette-primary-main);
  }

  &.secondary {
    color: var(--palette-secondary-main);
  }

  &.info {
    color: var(--palette-info-main);
  }

  &.success {
    color: var(--palette-success-main);
  }

  &.warning {
    color: var(--palette-warning-main);
  }

  &.error {
    color: var(--palette-error-main);
  }
}

.indeterminate-progress {
  display: inline-block;
  inline-size: var(--size);
  block-size: var(--size);
  color: currentColor;
  animation: 1.4s linear 0s infinite normal none running animation-61bdi0;
}

.indeterminate-progress svg {
  display: block;
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.indeterminate-progress svg circle {
  stroke: currentcolor;
  animation: 1.4s ease-in-out 0s infinite normal none running animation-1o38n3e;
}

.determinant-progress {
  display: inline-block;
  inline-size: var(--size);
  block-size: var(--size);
  color: currentColor;

  transform: rotate(-90deg);
}

.determinate-progress svg {
  display: block;
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.determinant-progress svg circle {
  stroke-dasharray: 100px;
  stroke-dashoffset: var(--filled-circle);
  stroke: currentColor;
}

@keyframes animation-61bdi0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animation-1o38n3e {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: -100px;
  }
}
