.typography {
  color: var(--color-main);

  &.ellipsis {
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.text-primary {
    color: var(--palette-text-primary);
  }

  &.text-secondary {
    color: var(--palette-text-secondary);
  }

  &.text-disabled {
    color: var(--palette-text-disabled);
  }
}
