.radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; padding: 0; border: none; box-shadow: none; background: none;
    outline: none;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .radio:checked {
    border: 7px solid #000;
  }
  

  .active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px; 
    height: 1px;
    border-radius: 50%;
    background-color: #0c8510;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  
  

  .active:hover::before {
    transform: translate(-50%, -50%) scale(20.3);
    background-color: #0c8510;
    opacity: 0.3;
  }
  

  