.icon {
  &.primary {
    color: var(--palette-primary-main);
  }

  &.info {
    color: var(--palette-info-main);
  }

  &.success {
    color: var( --palette-success-main);
  }

  &.danger {
    color: var(---palette-primary-main);
  }

  &.warning {
    color: var(--palette-warning-main);
  }

  &.error {
    color: var(--palette-error-main);
  }
}
