.radioWrapper{
  padding: 8px; 

}

.Active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: var(--color-active, rgba(0, 0, 0, 0.2));
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  animation: clickEffect 0.5s ease forwards;
  pointer-events: none;
  z-index: -1;
}

@keyframes clickEffect {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.4;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0;
  }
}


.radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-border, #000);
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  background: none;
  outline: none;
}

.radio:checked {
  border: 7px solid var(--color-border, var(--palette-text-primary));
}

.radio:not(:disabled):hover {
  box-shadow: 0 0 0 8px var(--color-hover, var(--palette-grey-400));
}

.radio:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.radio.normal {
  width: 1.4em;
  height: 1.4em;
}

.radio.small {
  width: 1em;
  height: 1em;
}

.radio.primary {
  --color-border: var(--palette-primary-main);
  --color-hover: var(--palette-primary-light);
  --color-active: var(--palette-primary-dark);
}

.radio.secondary {
  --color-border: var(--palette-secondary-main);
  --color-hover: var(--palette-secondary-light);
  --color-active: var(--palette-secondary-dark);
}

.radio.info {
  --color-border: var(--palette-info-main);
  --color-hover: var(--palette-info-light);
  --color-active: var(--palette-info-dark);
}

.radio.success {
  --color-border: var(--palette-success-main);
  --color-hover: var(--palette-success-light);
  --color-active: var(--palette-success-dark);
}

.radio.warning {
  --color-border: var(--palette-warning-main);
  --color-hover: var(--palette-warning-light);
  --color-active: var(--palette-warning-dark);
}

.radio.error {
  --color-border: var(--palette-error-main);
  --color-hover: var(--palette-error-light);
  --color-active: var(--palette-error-dark);
}
