.radioWrapper{
  padding: 8px; 
}

.radio {
  position: relative;
  appearance: none;
  background: black;
  margin: 0;
  padding: 0;
  border: 1px solid var(--palette-text-secondary);
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease;
  background: none;
  outline: none;
  z-index: 2;


&:checked {
  border: 7px solid var(--color-border, var(--palette-text-primary));
  z-index: 222222;
}

&:not(:disabled):hover {
  box-shadow: 0 0 0 8px var(--color-hover, var(--palette-grey-100));
  z-index: 0;
}

&:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

&.normal {
  width: 1.4em;
  height: 1.4em;
}

&.small {
  width: 1em;
  height: 1em;
}

&.primary {
  --color-border: var(--palette-primary-main);
  --color-hover: var(--palette-primary-light);
  --color-active: var(--palette-primary-dark);
}

&.secondary {
  --color-border: var(--palette-secondary-main);
  --color-hover: var(--palette-secondary-light);
  --color-active: var(--palette-secondary-dark);
}

&.info {
  --color-border: var(--palette-info-main);
  --color-hover: var(--palette-info-light);
  --color-active: var(--palette-info-dark);
}

&.success {
  --color-border: var(--palette-success-main);
  --color-hover: var(--palette-success-light);
  --color-active: var(--palette-success-dark);
}

&.warning {
  --color-border: var(--palette-warning-main);
  --color-hover: var(--palette-warning-light);
  --color-active: var(--palette-warning-dark);
}

&.error {
  --color-border: var(--palette-error-main);
  --color-hover: var(--palette-error-light);
  --color-active: var(--palette-error-dark);
}


}

.Active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background: var(--color-active, rgb(0, 0, 0));
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  animation: palseAnime 0.7s ease-out forwards;
  pointer-events: none;
  z-index: 0;
}

@keyframes palseAnime {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.25;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
