.list {
  box-shadow:
    0 0 2px 0 var(--palette-primary-box-shadow),
    0 12px 24px -4px var(--palette-secondary-box-shadow);

  overflow: auto;

  max-block-size: 100%;

  padding-block: 0.5rem;

  border-radius: 1rem;

  ul {
    li {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      list-style: none;

      padding-block: 0.25rem;
      padding-inline: 0.5rem;

      .title {
        overflow: hidden;

        max-inline-size: 15ch;

        text-overflow: ellipsis;
        text-wrap: nowrap;
      }

      &:hover {
        background-color: var(--palette-item-hover);

        cursor: pointer;
      }
    }
  }

  &:has(.empty-message) {
    display: grid;
    place-content: center;

    .empty-message {
      color: var(--palette-text-secondary);
    }
  }
}
