.dialog {
  background-color: var(--palette-common-white);
  color: var(--palette-grey-800);
  box-shadow: var(--shadows-dialog);

  inline-size: min(37.5rem, 100%);

  margin: auto;

  border: none;
  border-radius: var(--border-radius-3);

  &::backdrop {
    background-color: color-mix(
      in hsl,
      var(--palette-grey-800),
      transparent 52%
    );

    backdrop-filter: blur(5px);
  }

  .modal {
    display: grid;
    gap: 1.5rem;

    padding: 1.5rem;

    > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
