.table {
  inline-size: 100%;

  border-spacing: 0 1rem;

  thead {
    tr {
      background-color: var(--palette-grey-200);
      color: var(--palette-grey-500);

      th {
        padding-block: 0.5rem;
        padding-inline: 1rem;

        font-size: 1rem;

        &:first-child {
          border-bottom-left-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
        }

        &:last-child {
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
        }
      }
    }
  }

  tbody {
    tr {
      color: var(--palette-grey-900);

      &:hover {
        box-shadow: 0 10px 3px var(--palette-grey-200);
      }

      td {
        padding: 1rem;

        border-block: 2px solid var(--palette-grey-500);

        font-size: 0.85rem;

        text-align: center;

        &:first-child {
          border-inline-start: 2px solid var(--palette-grey-500);
          border-bottom-left-radius: 1rem;
          border-top-left-radius: 1rem;
        }

        &:last-child {
          border-inline-end: 2px solid var(--palette-grey-500);

          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
      }
    }

    .table-row {
      .actions {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
