.transfer-list {
  display: flex;
  align-items: center;
  gap: 1rem;

  .left,
  .right {
    block-size: 12.5rem;
    inline-size: 14rem;
  }

  .middle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    block-size: auto;
    inline-size: 4rem;
  }
}
