.sidebar {
  background-color: hsl(360deg 100% 100% / 90%);
  color: var(--paletter-text-primary);
  box-shadow: -40px 40px 80px -8px var(--palette-action-selected);

  backdrop-filter: blur(20px);

  position: fixed;
  inset-block-start: 0;
  inset-inline-end: 0;
  overflow: auto;
  z-index: 1;

  block-size: 100%;
  inline-size: 20rem;

  transform: none;

  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);

  header {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto);
    align-items: center;
    border-block-end: 1px dashed var(--palette-action-selected);

    padding-block: 1rem;
    padding-inline: 1.25rem 0.5rem;
  }

  > div {
    display: grid;
    gap: 1.5rem;

    padding-block: 1rem;
    padding-inline: 1.25rem 0.5rem;
  }
}
