.row {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr 2fr 4fr 2fr 2fr;
  align-items: center;

  margin-block: 1rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;

  border: 1px solid var(--palette-grey-300);
  border-radius: 1rem;

  font-size: 0.875rem;
  font-weight: 400;

  transition: box-shadow 0.2s ease;

  cursor: pointer;

  &:hover {
    box-shadow: 0 18px 10px var(--palette-grey-200);
  }

  > :nth-child(2) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .time {
    color: var(--palette-grey-500);

    margin-block-start: 0.25rem;

    font-size: 0.75rem;
    font-weight: 400;
  }

  > :last-child {
    display: flex;
    justify-content: end;
  }
}
