.row {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr 1fr;
  align-items: center;

  /* Sub grid */
  margin-block: 1rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;

  border: 1px solid var(--palette-grey-300);
  border-radius: 1rem;

  font-size: 0.875rem;
  font-weight: 400;

  transition: box-shadow 0.2s ease;

  cursor: pointer;

  &:hover {
    box-shadow: 0 1.125rem 0.625rem var(--palette-grey-200);
  }

  .first-cell,
  .last-cell {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .time {
    color: var(--palette-grey-500);

    margin-block-start: 0.25rem;

    font-size: 0.75rem;
    font-weight: 400;
  }
}
