.upload {
  background-color: hsl(
    from var(--palette-grey-500) h s l / var(--palette-action-hover-opacity)
  );

  display: block;

  padding: var(--spacing-5);

  border: 1px dashed
    hsl(from var(--palette-grey-500) h s l / var(--palette-border-opacity));
  border-radius: var(--shape-border-radius);

  outline: none;

  text-align: center;

  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, padding;

  cursor: pointer;

  input {
    display: none;
  }

  .img {
    --primary-main: var(--palette-primary-main);
    --primary-dark: var(--palette-primary-dark);
    --primary-darker: var(--palette-primary-darker);
    flex-shrink: 0;

    fill: currentcolor;

    display: inline-block;

    block-size: auto;
    inline-size: 12.5rem;
    max-inline-size: 100%;

    font-size: 1.5rem;

    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);

    user-select: none;
  }

  .link span {
    color: var(--palette-primary-main);

    margin: 0 calc(0.5 * var(--spacing));

    text-decoration: underline;
  }
}
