.file-explorer {
  overflow: auto;

  inline-size: 100%;

  .table {
    min-inline-size: max-content;

    > div {
      display: grid;
      grid-template-columns: 6fr 2fr 2fr 4fr 2fr 2fr;
    }
  }
}
