.success {
  background-color: var(--palette-success-dark);
}
.info {
  background-color: var(--palette-info-light);
}
.primary {
  background-color: var(--palette-primary-main);
}
.error {
  background-color: var(--palette-error-main);
}
.inherit {
  background-color: var(--palette-grey-800);
}
.secondary {
  background-color: var(--palette-secondary-main);
}

.circular {
  border-radius: 100%;
}
.rounded {
  border-radius: 0.75rem;
}
.square {
  border-radius: 0;
}
