.wrapper {
  --palette-shared-input-outlined: color-mix(
    in srgb,
    var(--palette-grey-500) 16%,
    transparent
  );
  --pallete-action-disabled: color-mix(
    in srgb,
    var(--palette-text-disabled) 80%,
    transparent
  );

  position: relative;

  display: inline-flex;
  flex-direction: column;

  inline-size: 200px;

  margin: 16px;

  .outlined-input {
    box-sizing: border-box;

    position: relative;

    display: flex;
    align-items: center;

    inline-size: 100%;
    min-height: 56px;

    padding: 16.5px 14px;

    border-radius: var(--shape-border-radius);

    &:has(.input:invalid) .label {
      color: var(--palette-error-main);
    }

    .label {
      color: var(--palette-text-secondary);

      position: absolute;
      z-index: 1;

      padding: 0 4px;

      transform-origin: top left;

      font-size: 1rem;

      transition:
        transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

      pointer-events: none;

      &.label-active {
        background-color: var(--palette-common-white);

        transform: translateY(-26px) scale(0.75);

        font-weight: 400;
      }
    }

    .input {
      background-color: transparent;

      position: absolute;
      inset: 0;
      z-index: 2;

      inline-size: 100%;

      margin: 0;
      padding: 14px 15.5px;

      border: none;

      outline: none;

      font-size: 1rem;
      appearance: none;

      &:disabled {
        color: var(--pallete-action-disabled);
      }
    }

    .fieldset {
      box-sizing: border-box;

      position: absolute;
      inset: 0;

      margin: 0;
      padding: 0 8px;

      border: 1px solid var(--palette-shared-input-outlined);
      border-radius: inherit;

      transition: border 0.05s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .legend {
      max-inline-size: 0.01px;

      white-space: nowrap;
    }

    &.small {
      padding: 8.5px 14px;
    }

    &.normal {
      padding: 16.5px 14px;
    }

    &:hover:has(.input:disabled) .fieldset {
      border-color: var(--palette-shared-input-outlined);
    }

    &:has(.input:disabled) .label {
      color: var(--pallete-action-disabled);
    }

    &:hover .fieldset {
      border-color: var(--palette-text-primary);
    }

    &:focus-within .fieldset {
      border: 2px solid var(--palette-text-primary);
      border-radius: var(--shape-border-radius);
    }

    &:has(.input:invalid) .fieldset {
      border-color: var(--palette-error-main);
    }

    &:focus-within .label {
      color: var(--palette-text-primary);
    }

    &:has(.input:not(:placeholder-shown)) .label,
    &:has(.input:focus) .label {
      background-color: var(--palette-common-white);

      transform: translateY(-26px) scale(0.75);

      font-weight: 400;
    }
  }

  .span-error {
    margin: 8px 14px 0;
  }
}
