.wrapper {
  --palette-shared-input-outlined: color-mix(
    in srgb,
    var(--palette-grey-500) 16%,
    transparent
  );
  --palette-action-disabled: color-mix(
    in srgb,
    var(--palette-text-disabled) 80%,
    transparent
  );

  margin: 1rem;

  .outlined-input {
    box-sizing: border-box;

    position: relative;

    display: inline-flex;
    align-items: center;

    inline-size: 17.0875rem;
    min-height: 3.5rem;

    padding: 1.0313rem 0.875rem;

    border-radius: var(--shape-border-radius);

    .label {
      color: var(--palette-text-secondary);

      position: absolute;
      overflow: hidden;
      z-index: 1;

      padding: 0 0.25rem;

      transform-origin: top left;

      font-size: 1rem;

      transition:
        transform 0.2s ease-in-out,
        background-color 0.2s ease-in-out;

      pointer-events: none;

      &.label-active {
        background-color: var(--palette-common-white);

        transform: translateY(-1.625rem) scale(0.75);
      }
    }

    .fieldset {
      box-sizing: border-box;

      position: absolute;
      inset: 0;

      display: flex;
      align-items: center;

      min-inline-size: min-content;

      margin: 0;
      padding: 0 0.5rem;

      border: 1px solid var(--palette-shared-input-outlined);
      border-radius: inherit;

      transition: box-shadow 0.05s cubic-bezier(0.4, 0, 0.2, 1);

      .input {
        flex: 1;

        background-color: transparent;

        box-sizing: content-box;

        display: block;

        block-size: 1.4375rem;

        padding: 1.0313rem 0.875rem;

        border: none;

        outline: none;

        font-size: 1rem;
        appearance: none;

        &:disabled {
          color: var(--palette-action-disabled);
        }
      }
    }

    .legend {
      max-inline-size: 0.0006rem;

      white-space: nowrap;
    }

    &.small {
      min-block-size: 2.5rem;

      padding: 0.5313rem 0.875rem;
    }

    &.normal {
      min-height: 3.5rem;

      padding: 1.0313rem 0.875rem;
    }

    &:has(.input:invalid) .label {
      color: var(--palette-error-main);
    }

    &.has-user-icon .label {
      background-color: var(--palette-common-white);

      transform: translateY(-1.625rem) scale(0.75);
    }

    &:has(.label.label-error) .label {
      color: var(--palette-error-main);
    }

    &:has(.label.label-error) .fieldset {
      color: var(--palette-error-main);
      box-shadow: 0 0 0 1px var(--palette-error-main);
    }

    &:has(.input:invalid) .fieldset {
      box-shadow: 0 0 0 2px var(--palette-error-main);
    }

    &:hover:has(.input:disabled) .fieldset {
      border-color: var(--palette-shared-input-outlined);
    }

    &:has(.input:disabled) .label {
      color: var(--palete-action-disabled);
    }

    &:hover .fieldset {
      box-shadow: 0 0 0 1px var(--palette-text-primary);
    }

    &:focus-within .fieldset {
      box-shadow: 0 0 0 2px var(--palette-text-primary);

      border-radius: var(--shape-border-radius);
    }

    &:focus-within:has(.input:invalid) .fieldset {
      box-shadow: 0 0 0 2px var(--palette-error-main);
    }

    &:focus-within .label {
      color: var(--palette-text-primary);
    }

    &.normal:has(.input:not(:placeholder-shown)) .label,
    &.normal:has(.input:focus) .label,
    &.has-user-icon.normal .label {
      background-color: var(--palette-common-white);

      transform: translateY(-1.6875rem) scale(0.75);
    }

    &.small:has(.input:not(:placeholder-shown)) .label,
    &.small:has(.input:focus) .label,
    &.has-user-icon.small .label {
      background-color: var(--palette-common-white);

      transform: translateY(-1.1875rem) scale(0.75);
    }
  }

  .input-message {
    margin: 0.3125rem 0.8125rem 0;

    font-size: 0.75rem;
  }

  .helper-text {
    color: var(--palette-text-secondary);

    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .helper-icon {
    font-size: 0.9rem;

    line-height: 1;
  }
}
