.text-field {
  .input-box {
    position: relative;

    display: inline-flex;
    align-items: center;

    inline-size: 100%;

    border-radius: var(--shape-border-radius-2);

    .label {
      position: absolute;
      overflow: hidden;
      z-index: 1;

      padding: 0 0.25rem;

      transform-origin: top left;

      transition: 0.2s ease-in-out;
      transition-property: transform, background-color;

      pointer-events: none;
    }

    fieldset {
      display: flex;
      align-items: center;

      padding-inline: 0.5rem;

      border: 1px solid var(--palette-shared-input-outlined);
      border-radius: inherit;

      transition: border-color 0.1s cubic-bezier(0.4, 0, 0.2, 1);

      input {
        flex: 1;

        background-color: transparent;

        display: block;

        border: none;

        outline: none;

        font-size: 1rem;

        appearance: none;
      }
    }

    &:hover:has(.input:not(:disabled)) {
      fieldset {
        box-shadow: 0 0 0 1px var(--palette-text-primary);
      }
    }
  }

  .helper-text {
    color: var(--palette-text-secondary);

    margin: 0.5rem 1rem 0;

    font-size: 0.75rem;
  }

  &.small {
    .input-box {
      fieldset {
        input {
          padding: 1rem;
        }
      }
    }
  }

  &.normal {
    .input-box {
      fieldset {
        input {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  &:has(input:not(:placeholder-shown)),
  &:has(.adornment) {
    .input-box {
      &.label {
        background-color: var(--palette-common-white);
        color: var(--palette-text-primary);

        transform: translateY(-1.625rem) scale(0.75);
      }
    }
  }

  &.error {
    .input-box {
      .label {
        color: var(--palette-error-main);
      }

      .fieldset {
        color: var(--palette-error-main);
        box-shadow: 0 0 0 1px var(--palette-error-main);
      }
    }
  }

  &:has(input[disabled]) {
    .input-box {
      .label {
        color: var(--palette-action-disabled);
      }

      fieldset {
        input {
          color: var(--palette-action-disabled);
        }
      }
    }
  }
}
